
/*.joinHeader{
  display: none;
}*/

.userImg{
    width: 2.3em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 0.5em;
}

.userBtn{
    border: none;
    background-color: transparent !important;
}

.dropdown-menu{
    background-color: #313131;
}

.dropdown li a {
    color: white;
}


/* USER PROFILE PAGE */


body{
    background-color: #241A1A;
}
html{
  overflow-x: hidden;
}
.carousel-height{
    height: 57vh;
}
.concert{
  padding:2vh;
}
.btn-change{
  background-color: black;
}
.btn-change:hover{
  background-color: grey;
}
.modal-click:hover{
  background-color: grey;
  cursor: pointer;
}
.img-logo{
    width: 5%;
    display: inline-block;
}

/*usuario*/

.backgroundUser{
    background-image: url(../images/rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    top: 3.7em;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23%;
}

.userImage{
    width: 13em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 3em;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.userText{
    color: white;
    padding-top: 4em;
}

/*artistas*/

.artist{
    padding-left: 5em;
}

.artist img{
    width: 10em;
    margin-top: 1em;
}

/*Discos*/

.disc{
    padding-left: 5em;
}

.disc img{
    width: 10em;
    margin-top: 1em;
}
