/*.joinHeader{
  display: none;
}*/
.userImg{
  width: 2.3em;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-top: 0.5em;
}

.userBtn{
  border: none;
  background-color: transparent !important;
}

.dropdown-menu{
  background-color: #313131;
}

.dropdown li a {
  color: white;
}

/* USER PROFILE PAGE */
 

body{
    background-color: #241A1A;
}
html{
  overflow-x: hidden;
}
.carousel-height{
    height: 57vh;
}
.concert{
  padding:2vh;
}
.btn-change{
  background-color: black;
}
.btn-change:hover{
  background-color: grey;
}
.modal-click:hover{
  background-color: grey;
  cursor: pointer;
}
.img-logo{
    width: 5%;
    display: inline-block;
}