h1, h3, p{
   color: #a58989;
}

h2, a{
    color: #7e4958;
}

.userImg{
    width: 2.3em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 0.5em;
}

.userBtn{
    border: none;
    background-color: transparent !important;
}

.dropdown-menu{
    background-color: #313131;
}

.dropdown li a {
    color: white;
}

/*Modal Concert*/
.background-modal{
    background-color: #212121;
    color: #a58989;
    padding: 1em;
}
.modal-titles{
    font-weight: bolder;
    font-size: 2em;
    color: #951249;
    font-family: 'Montserrat', sans-serif;

}
.fa-calendar{
    padding-left: 1em; 
    color: #a58989;
}


/* USER PROFILE PAGE */



body{
    background-color: #212121;
    font-family: 'Montserrat', sans-serif;
}
html{
    overflow-x: hidden;
}

.carousel-indicators{
    z-index: -5;

}

.carousel-height{
    height: 57vh;
}
.concert{
    padding:2vh;
}
.btn-change{
    background-color: black;
}
.btn-change:hover{
    background-color: grey;
}
.modal-click:hover{
    background-color: grey;
    cursor: pointer;
}
.img-logo{
    width: 5%;
    display: inline-block;
}

/*usuario*/

.backgroundUser{
    background-image: url(../images/rain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
}

.userImage{
    width: 11em;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-top: 0.5em;
    border: 5px solid rgba(255, 255, 255, 0.5);
    position: absolute;
}

.userText{
    color: white;
    padding-top: 4em;
    margin-left: -15em;
}

p{
    text-align: center;
}

/*canciones recientes*/

.error-notice {
    margin: 5px 5px; /* Making sure to keep some distance from all side */
}

.oaerror {
    width: 90%; /* Configure it fit in your design  */
    margin: 0 auto; /* Centering Stuff */
    background-color: #FFFFFF; /* Default background */
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.danger {
    border-left-color: #d9534f; /* Left side border color */
    background-color: rgba(217, 83, 79, 0.1); /* Same color as the left border with reduced alpha to 0.1 */
}

.danger strong {
    color:  #d9534f;
}

.warning {
    border-left-color: #f0ad4e;
    background-color: rgba(240, 173, 78, 0.1);
}

.warning strong {
    color: #f0ad4e;
}

.info2 {
    border-left-color: #5bc0de;
    background-color: rgba(91, 192, 222, 0.1);
}

.info2 strong {
    color: #5bc0de;
}

.success {
    border-left-color: #2b542c;
    background-color: rgba(43, 84, 44, 0.1);
}

.success strong {
    color: #2b542c;
}

.listening img{
    width: 3em;
}

.listening h2{
    padding-left: 2.6em;
}

.textSong{
    color: white;
    margin-left: 1em;
}

.heart{
    margin-left: 1em;
    color: white;
}
.red-toggle{
    color: red;
}

.moreSong{
    padding-left: 32em;
}


/*Fin canciones recientes*/

/*Opacidad img artist disc*/

img.opacityImg:hover{
    opacity: 0.6;
}

/*artistas*/

.artist{
    margin-left: 2.5em;
}

.artist h2{
    padding-left: 0.5em;
}

.moreArtist{
    padding-left: 35.8em;
}

.artist img{
    width: 10em;
}

.secondArtist{
    padding-top: 0.5em;
}

/*Discos*/
/*Noticias*/

.news-section {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 5px;
    width: 40em;
}

a.news-btn {
    color: #000;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    background: #7e4958;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    margin-left: 18em;
}
a.news-btn:hover {
    background: #161616;
}

.news-column h4 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    padding: 0.8em 0 0.3em;
    margin: 0;
    text-align: center;
}
.news-column p {
    color: #777;
    line-height: 1.7em;
    padding: 0.1em 0 0em;
    display: block;
    font-size: 1em;
}

.news-column img{
    margin-left: 2.3em;
    width: 500px;
}
/*Fin noticias*/

/*Amigos y sugerencias*/

.media{
    background-color: #f5f5f5;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 20em;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

/*lista de amigos*/
.friend img{
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 2em;
}

.friend{
    width: 40em;
    margin-top: 1em;
}

.friendName{
    margin-left: 1em;
    color: #a57076;
}
.friend1{
    background-color: #554949;
    border-radius: 1.5em;
    color: #a57076;
    border-color: grey; 
    font-weight: bolder;
    padding: 1em;
}
.country{
    color: white;
}
.delete-btn{
    background-color: #a57076;
    color: white;
}
.follow-btn{
    background-color: #a57076;
    color: white;
}
.playIcon{
    margin-left: 1em;
}

/*css listplay*/

.listening{
    cursor: pointer;
}

/* formulario de comentarios*/
.form-comment{
    background-color: #4c4954;
    border-radius: 5px;
    padding:1em;
}
.text-comment{
    padding-bottom: 5em;
}
.input-group{
    width: 100%;
}
.pin{
    background-color: white;
    margin-top: 2em;
    border-radius: 5px;
}
.heart2{
    padding-right: 1em;
}
.fa{
    font-size: 1.5em;
}
.user-comment{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    border:1px solid white;
    display: inline-block;
}
.hour-comment{
    display: inline-block;
    color: black;
}
.name-comment{
    display: inline-block;
    padding-right: 7em;
    color: white;
}

.btnComment{
    background: #7e4958 !important;
    color: white;
    border: none;
    margin-top: 1em;
}

.btnComment:hover{
    background: #161616 !important;
    color: white;
}

.btn-modi{
    background: #7e4958 !important;
    color: white;
    border: none;
    style:none;
}

.btn-modi:hover{
    background: #161616 !important;
    color: white;
}

.modal-body h1{
    text-align: center;
}

/*Splash*/

#splash{
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #3d3637;
    z-index: 5;
}

#splash h2{
    text-align: center;
    font-size: 50px;
    color: #ffca00;
    margin-top: 5em;
}

iframe{
    padding-top: 5em;
}
.carousel1{
    background-image: url(../images/carousel1.jpg);
    background-size: cover;
    background-position: center;

}
.carousel2{
    background-image: url(../images/carousel2.jpg);
    background-size: cover;
    background-position: center;


}
.carousel3{
    background-image: url(../images/carousel3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}
.title-carousel{
    padding-top: 2em;
    padding-left: 2em;
    margin: 0;
    font-size: 5em;
    color: #7e4958;
    font-weight: bolder;

}
.btn-eventos{
    padding-top: 1em;
}
.paragraph-carousel{
    color: #a58989;
    font-size: 2em;
    font-weight: bold;
}
.opacar{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
}
.modal-click{
    background-color: #493c42;
    border: none;
}
.info{
    color:#515c73;
    text-align: center;
}
.lab-logo{
    margin: 0;
    font-size: 1.3em;
    color: #a58989;
}

a{
    text-decoration:none;
}
.likes{
    font-size: bolder;
}
#user-name-perfil{
    color: #FF87DC;
    font-weight: bolder;
}

#splash h2{
    color: #a58989;
}

.friendFollow{
    color: #a58989;
}
.name-comment{
    color: #B15353 !important ;
}
#chatUl{
    background-color: grey;
    height: 70vh;
    overflow-y: scroll;
    border: 3px white solid;
    list-style: none;
    margin-top: 5em; 
}

/*----------------------------------------------------------------------------------------------*/
@media (min-width: 200px) and (max-width:768px){

/*Usuario*/
.listening h2{
    margin-left: -1.5em;
}

.userImage{
    width: 7em;
    margin-left: 0.5em;
    margin-top: 3em;
  }

#user-name-perfil{
    font-size: 25px;
    margin-left: 14em;
}

.userText p{
    margin-left: 25em;
}

/*--------------*/
/*Artistas*/

.artist{
    margin-left: -2.7em;
}

.artist h2{
    text-align: center;
}

.imgLeft{
    margin-right: 2.5em;
}

.imgRight{
    margin-left: 2.5em;
}

.carousel-height{
    height: 100vh;
}
.title-carousel{
    font-size: 3em;

}
}
